{% extends "admin/admin base.html" %}
{% block content %}

<div class="card" style="width: 65rem;">
    <div class="card-body">
        <h5 class="card-title">View Notifications</h5>



        <table class="table">
    <thead>
        <tr>
            <th scope="col">SL</th>
            <th scope="col">TITLE</th>
            <th scope="col">MESSAGE</th>
                        <th scope="col">INDUSTRY</th>
            <th scope="col">CONSUMER</th>

        </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.message }}</td>
                        <td>{{ i.industries }}</td>
            <td>{{ i.consumers }}</td>


        </tr>
        {% empty %}

        {% endfor %}
    </tbody>
</table>


    </div>
</div>

{% endblock %}
