{% extends "admin/admin base.html" %}

{% block content %}

<div class="card" style="width: 90rem;">
    <div class="card-body">
        <h5 class="card-title">Industry Approval Data</h5>



        <!-- Table for Pending Industries -->
        <h6>Pending Industries</h6>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">SL</th>
                    <th scope="col">NAME</th>
                    <th scope="col">MOBILE</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                    {% if not i.user.is_approved and not i.user.is_rejected %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.mobile }}</td>
                            <td>{{ i.email }}</td>
                            <td>Awaiting Approval</td>
                            <td>
    <div class="d-flex justify-content-start">
        <a href="{% url 'approve_industry' i.user.id %}" class="btn btn-success mr-2">Approve</a>
        <a href="{% url 'reject_industry' i.user.id %}" class="btn btn-danger">Reject</a>
    </div>
</td>

                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>
                        <td colspan="6"><center>No industries awaiting approval.</center></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Table for Approved Industries -->
        <h6 class="mt-5">Approved Industries</h6>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">SL</th>
                    <th scope="col">INDUSTRY NAME</th>
                    <th scope="col">INDUSTRY TYPE</th>
                    <th scope="col">MOBILE</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">ADDRESS</th>
                    <th scope="col">LOCATION</th>
                    <th scope="col">Approved At</th>
                </tr>
            </thead>
            <tbody>
                {% for approved in approved_industries %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ approved.industry.name }}</td>
                        <td>{{ approved.industry.industry_type }}</td>
                        <td>{{ approved.industry.mobile }}</td>
                        <td>{{ approved.industry.email }}</td>
                        <td>{{ approved.industry.address }}</td>
                        <td>{{ approved.industry.location }}</td>
                        <td>{{ approved.approved_at }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7"><center>No approved industries found.</center></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
