{% extends "industry/industry base.html" %}
{% block content %}


<div class="card" style="width: 65rem;">
  <div class="card-body">
    <h5 class="card-title">Industry Data</h5>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">SL</th>
      <th scope="col">NAME</th>
      <th scope="col">MOBILE</th>
      <th scope="col">EMAIL</th>
      <th scope="col">ADDRESS</th>
      <th scope="col">LOCATION</th>
    </tr>
  </thead>
  <tbody>
      {% for i in data %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.name}}</td>
         <td>{{i.mobile}}</td>
      <td>{{i.email}}</td>
      <td>{{i.address}}</td>
      <td>{{i.location}}</td>


    </tr>
{% endfor %}
  </tbody>
  </table>



{% endblock %}


  </div>
</div>

